html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------------------*/
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  height: 2000px;
}

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px;
  background-color: rgb(253, 223, 211);
}

.nav > ul > li {
  background-color: rgb(240, 153, 112);
  display: inline-block;
  text-transform: uppercase;
  color: white;
  padding: 8px 13px;
  border-radius: 3px;
}

.nav > ul > li > i {
  margin-right: 8px;
  font-size: 18px;
}

.nav > ul > li:hover {
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

.nav > ul > li:active {
  background-color: rgb(143, 143, 143);
}

.main {
  margin-top: 10px;
}

.main__cat-img {
  width: 100%;
  position: relative;
}

.main > h1 {
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  text-transform: uppercase;
  color: orange;
  text-shadow: 2px 2px 6px black;
  font-weight: 600;
  font-family: cursive;
  font-size: 60px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main > h2 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 20px;
  letter-spacing: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main__slider, .main__big-slider {
  margin-top: 15px;
  position: relative;
  width: 100%;
}

.slick-list {
  overflow: hidden;
  background-color: rgb(253, 208, 190);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__slider-item {
  text-align: center;
  max-height: 500px;
  max-width: 100%;
}

.main__slider-item > img {
  max-width: 100%;
  max-height: 500px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 3;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: -40px 0 0 0;
}

.slick-prev {
  left: 0;
  background-image: url("../images/l.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: scroll;
  background-size: 100%;
}

.slick-next {
  right: 0;
  background-image: url("../images/r.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: scroll;
  background-size: 100%;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.slick-dots li {
  list-style: none;
  margin: 0 8px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

.slick-active button {
  background-color: rgb(248, 133, 66);
}

.main__big-slider-item {
  text-align: center;
  max-height: 250px;
  max-width: 100%;
}

.main__big-slider-item > img {
  max-width: 250px;
  max-height: 250px;
}

.about {
  margin-top: 20px;
}

.about .about__text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(85, 85, 85);
}

.about .about__text > p:first-letter {
  background-color: orange;
  font-size: 30px;
}

.about h2 {
  color: black;
  text-align: center;
  font-size: 30px;
  margin: 30px 0 5px;
  letter-spacing: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about p {
  text-indent: 50px;
  text-align: justify;
}

.contact > h2 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 5px;
  letter-spacing: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact {
  margin-top: 20px;
}

.container__img {
  width: 250px;
}

.container__img > img {
  width: 100%;
  border: 1px solid black;
}

.contact__location {
  margin-left: 100px;
  font-size: 20px;
  line-height: 1.3;
  font-style: italic;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact__location span {
  font-weight: 600;
  font-style: normal;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__form {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact__form > p {
  font-size: 22px;
  margin: 10px 0;
  text-align: center;
}

.contact__flex-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form > form > label {
  display: inline-block;
  font-size: 20px;
  margin: 10px 0;
}

.contact__inputs > input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.contact__inputs {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px 15px;
}

.contact__inputs > input {
  padding: 8px 10px;
  font-size: 16px;
}

.contact__inputs > label {
  display: inline-block;
  font-size: 20px;
  margin: 10px 0;
}

.contact__message {
  padding: 0 15px;
}

.contact__message > label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact__message > input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 10px;
  font-size: 16px;
}

.footer {
  background-color: rgb(253, 208, 190);
  height: 200px;
  margin-top: 25px;
}

.footer__container {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  font-size: 20px;
  padding: 50px;
}

.footer__container i {
  margin-right: 10px;
}

.footer__container > p > span {
  font-size: 22px;
  margin-right: 15px;
}

.powered {
  margin-top: 30px;
  font-size: 22px;
}